.Main-Div {
   background-color: rgb(27, 25, 27);
    max-width: 1470px;
    flex: 1 1 0;
    height: 878px;
    border: 7px solid black;
    border-top: none;
    display: flex;
    border-radius: 20px;
    border-left: none;
    min-width: 800px;
    overflow: auto;
}