.Main-Div {
    background-color: rgb(27, 25, 27);
    max-width: 1500px;
    flex: 1 1 0;
    height: 93vh;
    border: 7px solid black;
    border-top: none;
    display: flex;
    border-radius: 20px;
    border-left: none;
    min-width: 800px;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 40px;
    flex-direction: column;
    box-sizing: border-box;
    cursor: pointer;
}
img {
  filter: brightness(75%);
}
.Utwory-text {
    color: white;
    font-weight: bold;
    cursor: pointer;
    
}
.Utwory-text:hover, .Show-all-top:hover {
    text-decoration: underline;
    cursor: pointer;
}
.Utwory-main-div {
    background-color: rgb(27, 25, 27);
    flex-direction: column;
    display: flex;
}
.Audio-div {
    display: flex;
    overflow: auto;
}
.top-audio {
 background-color: rgb(27, 25, 27);
 margin-right: 25px;
}
.top-song {
width: 250px;
height: 50px;
filter: brightness(75%);
}
.top-song-name {
    margin: 10px;
color: white;
}
.top-author {
    margin: 10px;
color: rgb(150, 147, 147);
}
.top-img {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 250px;
    border-radius: 10px;
    height: 250px;
}
.top-author:hover {
    text-decoration: underline;
}
.top-song-name:hover {
    text-decoration: underline;
}
.Utwory-top-first {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.Show-all-top {
    color: rgb(160, 160, 160);
    font-weight: bold;
    font-size: 14px;
}
