.Main-Div {
    background-color: rgb(27, 25, 27);
    flex: 1 1 0;
    border: 7px solid black;
    border-top: none;
    display: flex;
    height: calc(100dvh - 60px);
    max-height: 100hv;
    border-radius: 15px;
    border-left: none;
    min-width: 800px;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 27.5px;
    flex-direction: column;
    box-sizing: border-box;
    cursor: pointer;

}

img {
    filter: brightness(90%);
}

.Utwory-text {
    color: white;
    font-weight: bold;
    cursor: pointer;

}

.Utwory-text:hover,
.Show-all-top:hover {
    text-decoration: underline;
    cursor: pointer;
}

.Utwory-main-div {
    background-color: rgb(27, 25, 27);
    flex-direction: column;
    display: flex;
}

.Audio-div {
    display: flex;
    overflow: auto;
    margin-right: 12.5px;
}

.top-audio {
    background-color: rgb(27, 25, 27);
    padding: 0px 12.5px;
    padding-top: 12.5px;
    border-radius: 5px;
}

.top-song {
    width: 175px;
    height: 40px;
    filter: brightness(75%);
}

.top-song-name {
    margin: 10px;
    color: white;
}

.top-author {
    margin: 10px;
    color: rgb(150, 147, 147);
    font-size: 14px;
}

.top-img {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 175px;
    border-radius: 10px;
    height: 175px;
}

.top-author:hover {
    text-decoration: underline;
}

.top-song-name:hover {
    text-decoration: underline;
}

.Utwory-top-first {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 0px 12.5px;
}

.Show-all-top {
    color: rgb(160, 160, 160);
    font-weight: bold;
    font-size: 14px;
}

.top-audio:hover {
    background-color: rgb(39, 36, 39);
}
.the-space {
    margin-top: 25px;
}
.wyk-img {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 175px;
    border-radius: 50%;
    height: 175px;
}